useDynLib("nontarget", .registration = TRUE)
export(adduct.search,combine,make.isos,deter.iso,homol.search,ms.filter,pattern.search,pattern.search2,plotadduct,plotall,plotcomp,plotdefect,plotdiff,plotgroup,plothomol,plotisotopes,rm.sat)
import("enviPat")
import("nontargetData")
import("mgcv")
import("grDevices")
import("graphics")
import("stats")
import("utils")